/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    non userò il reset per questo esercizio, onde evitare bug visivi su tutti i componenti, ma il reset si usa sempre

} */  

.welcome{
    background-color: mediumaquamarine;
    border: 5px solid maroon;
    padding: 5px;
    margin: 5px;
}

.app-title{
    color: red;
    cursor: pointer;
}

.app-content{
    height: 100%;
    text-align: center;
    border: 4px solid red;
    background-color: whitesmoke;
    margin-top: 10px;
}

.custom-counter{
    border: 3px solid red;
    margin: 5px;
    padding: 5px;
}

.custom-form{
    border: 3px solid yellowgreen;
    margin: 5px;
    padding: 5px;
}

.custom-fetch{
    border: 3px solid blue;
    margin: 5px;
    padding: 5px;
}

.custom-location{
    border: 3px solid violet;
    margin: 5px;
    padding: 5px;
}